USE [master]
GO
/****** Object:  Database [HiTechDB]    Script Date: 9/30/2020 5:19:41 PM ******/
CREATE DATABASE [HiTechDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HiTechDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HiTechDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HiTechDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HiTechDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HiTechDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HiTechDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/30/2020 5:19:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[JobTitle] [varchar](50) NOT NULL,
	[UserStatus] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([UserId], [Password], [JobTitle], [UserStatus]) VALUES (1111, N'HenryBrown', N'MIS Manager', N'Active')
INSERT [dbo].[Users] ([UserId], [Password], [JobTitle], [UserStatus]) VALUES (2222, N'ThomasMore', N'Sales Manager', N'Active')
INSERT [dbo].[Users] ([UserId], [Password], [JobTitle], [UserStatus]) VALUES (3333, N'PeterWang', N'Inventory Controller', N'Active')
GO
USE [master]
GO
